$fuenteprincipal: 'Montserrat',
sans-serif;
$colorprincipal: #FFFFFF;
$colortextogrisaseo: #2A3037;
$none: 0px 0px 0px 0px;
@media only screen and (min-width: 1024px) {
    /*    NAVEGACION    */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        height: 60px;
        background-color: $colorprincipal;
        background: $colorprincipal 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    .is-nav-section-img-logo {
        margin-top: 19px;
        margin-left: 138px;
        width: 101px;
        height: 19px;
    }
    #section-nav-ulli {
        width: 300px;
        margin-right: 138px;
    }
    #section-nav-ulli>ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 300px;
        justify-content: space-around;
    }
    #section-nav-ulli>ul>li {
        font-family: $fuenteprincipal;
        color: #CBD0D3;
        font-size: 18px;
    }
    #section-nav-ulli>ul>li:first-child {
        color: $colortextogrisaseo;
        opacity: 1;
        font-size: 18px;
    }
    /*          SECTION PRESENTACION        */
    #section-presentacion {
        height: 730px;
    }
    #section-imagen-presentacion {
        width: 99%;
        height: 730px;
        position: absolute;
        z-index: 1;
        margin-top: 5px;
    }
    #section-imagen-presentacion>img {
        height: 730px;
        max-width: 100%;
    }
    .div-textos-presentacion {
        position: relative;
        z-index: 3;
        height: 730px;
    }
    #section-textos-titulos {
        height: 730px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas: "titulo titulo titulo" "numero numero proxima";
    }
    #section-titulo-presentacion {
        display: flex;
        flex-direction: column;
        width: 720px;
        height: 215px;
        grid-area: titulo;
        margin-left: 139px;
        margin-top: 240px;
    }
    #section-titulo-presentacion>div {
        max-width: 100%;
        height: 84px;
        display: flex;
        flex-direction: row;
    }
    #section-titulo-presentacion>div>img {
        width: 24px;
        height: 34px;
        margin-top: 12px;
    }
    #section-titulo-presentacion>div>h1 {
        color: $colorprincipal;
        height: 53px;
        font-family: $fuenteprincipal;
        font-weight: bold;
        margin: 0px 0px 0px 17px;
        font-size: 48px;
    }
    #section-titulo-presentacion>h6 {
        font-family: $fuenteprincipal;
        color: $colorprincipal;
        font-size: 24px;
        font-weight: bold;
        border-top: solid $colorprincipal 2px;
        width: 600px;
        padding-top: 20px;
        margin: 30px 0px 28px 0px;
    }
    #section-titulo-presentacion>p {
        font-family: $fuenteprincipal;
        color: $colorprincipal;
        margin-top: 0px;
        width: 536px;
    }
    #article-proximaaventura {
        width: 260px;
        height: 157px;
        background-color: rgba(42, 48, 55, 0.5);
        border: 2px;
        border-style: dashed;
        border-radius: 6px;
        border-color: rgba(255, 255, 255, 0.5);
        color: $colorprincipal;
        grid-area: proxima;
        margin-left: 490px;
        margin-bottom: 25px;
        padding-left: 40px;
        padding-top: 27px;
    }
    #article-proximaaventura>h6 {
        font-family: $fuenteprincipal;
        color: #FA6980;
        font-size: 16px;
        font-weight: bold;
        margin: $none;
    }
    #article-proximaaventura>h6>span {
        margin-left: 16px;
    }
    #article-proximaaventura>h4 {
        font-family: $fuenteprincipal;
        font-weight: bold;
        font-size: 16px;
    }
    #article-proximaaventura>p {
        font-family: $fuenteprincipal;
        width: 200px;
        height: 43px;
        font-size: 14px;
    }
    #article-numerodepublicacion {
        width: 150px;
        height: 60px;
        grid-area: numero;
        margin-top: 120px;
    }
    #article-numerodepublicacion>p {
        width: 110px;
        height: 5px;
        background-color: #FA6980;
        position: relative;
        z-index: 3;
        margin-bottom: 0px;
        bottom: -13px;
        top: 15px;
    }
    #article-numerodepublicacion>div {
        width: 60px;
        height: 60px;
        position: absolute;
        z-index: 1;
        left: 100px;
        bottom: 60px;
    }
    .circulo-gris-numero {
        background-color: #CBD0D395;
        width: 60px;
        height: 60px;
        border-radius: 90%;
        margin: $none;
    }
    .circulo-blanco-numero {
        position: absolute;
        left: 10px;
        bottom: 10px;
        background-color: $colorprincipal;
        width: 40px;
        height: 40px;
        border-radius: 90%;
        margin: $none;
    }
    #is-numeroarticulo {
        position: absolute;
        left: 24px;
        top: 0px;
        font-family: $fuenteprincipal;
        font-weight: bold;
    }
    /*         CONTENEDOR AJAX      */
    .is-div-color {
        width: 100%;
        height: 736px;
        background-color: #EBEBEB;
    }
    /*          SECTION TENDENCIAS      */
    #section-tendencias {
        width: 1103px;
        height: 428px;
        margin-left: 100px;
        padding-top: 100px;
    }
    #section-tendencias>p {
        font-family: $fuenteprincipal;
        color: $colortextogrisaseo;
        font-size: 26px;
        font-weight: bold;
    }
    #section-contenedor-tendencias {
        width: 1103px;
        height: 368px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .section-tendenciaparticular {
        width: 352px;
        height: 314px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 6px;
        background-color: $colorprincipal;
    }
    .section-tendenciaparticular>img {
        width: 352px;
        height: 180px;
    }
    .section-tendenciaparticular>h6 {
        color: $colortextogrisaseo;
        width: 286px;
        font-family: $fuenteprincipal;
        font-weight: bold;
        font-size: 16px;
        margin: 40px 0px 0px 33px;
    }
    .section-tendenciaparticular>p {
        width: 286px;
        font-size: 13px;
        font-family: $fuenteprincipal;
        color: #7A838D;
        margin: 10px 0px 0px 33px;
    }
    /*CARTEL "NUEVO" */
    .is-article-nuevocartel {
        width: 83px;
        height: 32px;
        background-color: #FA6980;
        margin-left: 33px;
        border-radius: 6px;
        position: absolute;
        top: 1145px;
        text-align: center;
    }
    .is-article-nuevocartel>p {
        color: $colorprincipal;
        font-family: $fuenteprincipal;
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0px 0px 0px;
    }
    .hidden-nuevocartel {
        visibility: hidden;
        position: absolute;
        top: 1145px;
    }
    /*         SECTION BLOG     */
    #section-blog {
        width: 1103px;
        height: 982px;
        margin-left: 100px;
        position: relative;
        bottom: 155px;
    }
    #section-blog>p {
        font-family: $fuenteprincipal;
        color: $colortextogrisaseo;
        font-size: 26px;
        font-weight: bold;
    }
    #section-contenedor-blog {
        display: flex;
        flex-direction: row;
        height: 942px;
        width: 1103px;
    }
    /*  COLUMNA IZQUIERDA DEL CONTENEDOR BLOG   */
    #section-contenedor-blog-I {
        width: 720px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section-blogparticularI {
        width: 720px;
        height: 429px;
        border-radius: 6px;
    }
    .blogparticularI-div-textos {
        position: absolute;
        z-index: 3;
        height: 385px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 40px;
    }
    .blogparticularI-div-textos>h6 {
        font-family: $fuenteprincipal;
        font-weight: bold;
        font-size: 16px;
        color: $colorprincipal;
    }
    .blogparticularI-div-textos>h1 {
        font-family: $fuenteprincipal;
        font-weight: bold;
        font-size: 24px;
        color: $colorprincipal;
        margin: 180px 0px 0px 0px;
    }
    .blogparticularI-div-textos>h2 {
        font-family: $fuenteprincipal;
        font-size: 16px;
        color: $colorprincipal;
        margin: 0px 0px 10px 0px;
        width: 575px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: string;
    }
    .blogparticularI-div-img {
        position: absolute;
        z-index: 1;
        border-radius: 6px;
    }
    /*  COLUMNA DERECHA DEL CONTENEDOR BLOG   */
    #section-contenedor-blog-D {
        width: 720px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
    }
    .section-blogparticularD {
        width: 352px;
        height: 272px;
    }
    .section-blogparticularD>img {
        width: 352px;
        height: 210px;
    }
    .section-blogparticularD>p {
        font-family: "Acumin Pro", Arial, Montserrat, sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #202124;
    }
    .is-div-time {
        display: flex;
        flex-direction: row;
        height: 16px;
    }
    .is-div-time>p {
        font-family: $fuenteprincipal;
        font-size: 16px;
        color: #CBD0D3;
        margin: $none;
        margin-left: 5px;
    }
    /*          FOOTER          */
    footer {
        background-color: $colortextogrisaseo;
        max-width: 100%;
        height: 96px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #footer-section-logo {
        margin-top: 39px;
        margin-left: 139px;
    }
    #footer-section-logos-redes {
        margin-top: 39px;
        margin-right: 170px;
    }
    #footer-section-logos-redes>img {
        margin-left: 35px;
    }
}