@media only screen and (min-width: 1024px) {
  /*    NAVEGACION    */
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
  }
  .is-nav-section-img-logo {
    margin-top: 19px;
    margin-left: 138px;
    width: 101px;
    height: 19px;
  }
  nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    width: 300px;
    margin-right: 138px;
    margin-top: 17px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav > ul > li {
    font-family: "Montserrat", sans-serif;
    color: #CBD0D3;
    font-size: 18px;
  }
  nav > ul > li:first-child {
    color: #2A3037;
    opacity: 1;
    font-size: 18px;
  }
  /*          SECTION PRESENTACION        */
  #section-presentacion {
    height: 730px;
  }
  #section-imagen-presentacion {
    width: 99%;
    height: 730px;
    position: absolute;
    z-index: 1;
    margin-top: 5px;
  }
  #section-imagen-presentacion > img {
    height: 730px;
    max-width: 100%;
  }
  .div-textos-presentacion {
    position: relative;
    z-index: 3;
    height: 730px;
  }
  #section-textos-titulos {
    height: 730px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas: "titulo titulo titulo" "numero numero proxima";
  }
  #section-titulo-presentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 720px;
    height: 215px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: titulo;
    margin-left: 139px;
    margin-top: 240px;
  }
  #section-titulo-presentacion > div {
    max-width: 100%;
    height: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #section-titulo-presentacion > div > img {
    width: 24px;
    height: 34px;
    margin-top: 12px;
  }
  #section-titulo-presentacion > div > h1 {
    color: #FFFFFF;
    height: 53px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin: 0px 0px 0px 17px;
    font-size: 48px;
  }
  #section-titulo-presentacion > h6 {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    border-top: solid #FFFFFF 2px;
    width: 600px;
    padding-top: 20px;
    margin: 30px 0px 28px 0px;
  }
  #section-titulo-presentacion > p {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    margin-top: 0px;
    width: 536px;
  }
  #article-proximaaventura {
    width: 260px;
    height: 157px;
    background-color: rgba(42, 48, 55, 0.5);
    border: 2px;
    border-style: dashed;
    border-radius: 6px;
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: proxima;
    margin-left: 490px;
    margin-bottom: 25px;
    padding-left: 50px;
    padding-top: 27px;
  }
  #article-proximaaventura > h6 {
    font-family: "Montserrat", sans-serif;
    color: #FA6980;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
  }
  #article-proximaaventura > h6 > span {
    margin-left: 16px;
  }
  #article-proximaaventura > h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  #article-proximaaventura > p {
    font-family: "Montserrat", sans-serif;
    width: 250px;
    height: 43px;
  }
  #article-numerodepublicacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 201px;
    height: 60px;
    border: 1px;
    border-color: #FFFFFF;
    border-style: solid;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: numero;
    margin-top: 120px;
  }
  #article-numerodepublicacion > div {
    width: 60px;
    height: 60px;
  }
  .circulo-gris-numero {
    position: absolute;
    background-color: #CBD0D395;
    width: 60px;
    height: 60px;
    border-radius: 90%;
    margin: 0px 0px 0px 0px;
  }
  .circulo-blanco-numero {
    position: absolute;
    left: 11px;
    top: 617px;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 90%;
    margin: 0px 0px 0px 0px;
  }
  #is-numeroarticulo {
    position: absolute;
    left: 24px;
    top: 607px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }
  /*         CONTENEDOR AJAX      */
  .is-div-color {
    width: 100%;
    height: 736px;
    background-color: #EBEBEB;
  }
  /*          SECTION TENDENCIAS      */
  #section-tendencias {
    width: 1103px;
    height: 428px;
    margin-left: 100px;
    padding-top: 100px;
  }
  #section-tendencias > p {
    font-family: "Montserrat", sans-serif;
    color: #2A3037;
    font-size: 26px;
    font-weight: bold;
  }
  #section-contenedor-tendencias {
    width: 1103px;
    height: 368px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-tendenciaparticular {
    width: 352px;
    height: 314px;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    background-color: #FFFFFF;
  }
  .section-tendenciaparticular > img {
    width: 352px;
    height: 180px;
  }
  .section-tendenciaparticular > h6 {
    color: #2A3037;
    width: 286px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 40px 0px 0px 33px;
  }
  .section-tendenciaparticular > p {
    width: 286px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    color: #7A838D;
    margin: 10px 0px 0px 33px;
  }
  /*CARTEL "NUEVO" */
  .is-article-nuevocartel {
    width: 83px;
    height: 32px;
    background-color: #FA6980;
    margin-left: 33px;
    border-radius: 6px;
    position: absolute;
    top: 1145px;
    text-align: center;
  }
  .is-article-nuevocartel > p {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
  }
  .hidden-nuevocartel {
    visibility: hidden;
    position: absolute;
    top: 1145px;
  }
  /*         SECTION BLOG     */
  #section-blog {
    width: 1088px;
    height: 982px;
    background-color: brown;
    margin-left: 140px;
  }
  /*          FOOTER          */
  footer {
    background-color: #2A3037;
    max-width: 100%;
    height: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer-section-logo {
    margin-top: 39px;
    margin-left: 139px;
  }
  #footer-section-logos-redes {
    margin-top: 39px;
    margin-right: 185px;
  }
  #footer-section-logos-redes > img {
    margin-left: 35px;
  }
}
/*# sourceMappingURL=estilo.css.map */